/*:root{*/
/*    --nextImgTop : -101%;*/
/*    --ACCounter : 0;*/
/*}*/

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#lab1 {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 200px;
    max-width: 40vw;
    padding: 5px;
    margin-bottom: 15px;
}

#lab2{
    padding: 5px;
    min-height: 500px;
    min-width: 1200px;
    border: solid indigo 1px;
    margin-bottom: 15px;
}

#lab3{
    padding: 5px;
    min-height: 500px;
    min-width: 500px;
    max-width: 700px;
    border: solid sandybrown 1px;
    margin-bottom: 15px;

}

#lab7{
    width: 1000px;
    max-width: 1400px;
    min-height: 800px;
    border: solid violet 1px;
    margin-bottom: 15px;
}
/* ============Lab1============= */
.result{
    min-width: 15vw;
    flex-shrink: 3;
}

#root {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;
    min-height: 15vh;
    margin-top: 10px;
    margin-down: 10px;
}
/* ============Lab2============= */
#slider {
    width: 600px;
    height: 400px;
    margin: 100px auto 0 auto;
    overflow: hidden;
}
#slider .slides {
    display: flex;
    animation-name: pociag-w-lewo;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}
.slides{
    position: relative;
}
.actual{
    visibility: visible;
    /*transform: translateX(-600px);*/
}
.next{
    visibility: visible;
    /*transform: translateX(-600px);*/
}
.prev{
    visibility: visible;
    /*transform: translateX(600px);*/
}
@keyframes pociag-w-lewo {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-3000px);
    }
}
@keyframes next {
    0% {
        transform: translateX(600px);
    }
    100% {
        transform: translateX(-3000px);
    }
}
@keyframes prev {
    0% {
        transform: translateX(600px);
    }
    100% {
        transform: translateX(-3000px);
    }
}
/* ============Lab3============= */

#lab3 > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;
    min-height: 15vh;
    margin-top: 10px;
    margin-down: 10px
}
audio{
    min-width: 200px;
}
/* ============Lab4============= */

/* ============Lab5============= */

/* ============Lab6============= */

/* ============Lab7============= */
#chart{
    max-width: 1000px;
    max-height: 700px;
}
#cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    min-height: 700px;
}
.Wcard{
    min-height: 200px;
    min-width: 300px;
    border: solid 1px black;
    border-radius: 50px;
}